<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

	<head th:fragment="head">

	  <meta charset="utf-8">
	  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	  <meta name="description" content="">
	  <meta name="author" content="">
	
	  <title>FM - A Football Manager Game</title>
	
	  <link href="/webjars/font-awesome/css/all.css" rel="stylesheet" type="text/css"></link>
	  <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet"></link>
	  <link href="/css/bootstrap-theme.min.css" rel="stylesheet"></link>
	  <link href="css/style.css" rel="stylesheet">

	</head>

</html>