<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

	<head th:fragment="head">

	  <meta charset="utf-8">
	  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	  <meta name="description" content="">
	  <meta name="author" content="">
	
	  <title>FM - A Football Manager Game</title>
	
	  <link href="/webjars/font-awesome/css/all.css" rel="stylesheet" type="text/css"></link>
	  <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet"></link>
	  <link rel="stylesheet" href="/webjars/bootstrap-table/bootstrap-table.min.css"></link>
	  <link rel="stylesheet" href="/webjars/bootstrap-table/extensions/group-by-v2/bootstrap-table-group-by.css"></link>
	  <link rel="stylesheet" href="/webjars/bootstrap-datepicker/css/bootstrap-datepicker.min.css"></link>
	  <link rel="stylesheet" href="/webjars/toastr/build/toastr.min.css"></link>
	  <link href="/css/bootstrap-theme.min.css" rel="stylesheet"></link>
	  <link href="/css/style.css" rel="stylesheet">

	</head>

</html>