<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

	<div th:fragment="scripts">
	
		<script src="vendor/jquery/jquery.min.js"></script>
		<script src="vendor/popper/popper.min.js"></script>
		<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/bootstrap-table.min.js"></script>
		<script src="vendor/bootstrap-table/extensions/group-by-v2/js/bootstrap-table-group-by.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.2.2/jquery.form.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0/handlebars.js"></script>
		<script src="js/ajax-form-utils.js"></script>
		<script src="vendor/toastr/js/toastr.min.js"></script>
		<script src="js/common.js"></script>
		
	</div>

</html>