<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

	<div class="bg-primary text-white border-right" id="sidebar-wrapper" th:fragment="sidebar">
      <div class="sidebar-heading">Start Bootstrap </div>
      <div class="list-group list-group-flush">
        <a href="#" class="list-group-item list-group-item-action bg-primary text-white"><i class="fas fa-fw fa-tachometer-alt"></i><span>Dashboard</span></a>
        <a href="#" class="list-group-item list-group-item-action bg-primary text-white">Shortcuts</a>
        <a href="#" class="list-group-item list-group-item-action bg-primary text-white">Overview</a>
        <a href="#" class="list-group-item list-group-item-action bg-primary text-white">Events</a>
        <a href="#" class="list-group-item list-group-item-action bg-primary text-white">Profile</a>
        <a href="#" class="list-group-item list-group-item-action bg-primary text-white">Status</a>
      </div>
    </div>

</html>