<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div id="sidebar-wrapper" th:fragment="sidebar">
	<ul class="sidebar-nav">
		<li><a href="/home">Home</a></li>
		<li><a href="/team">Squadra</a></li>
		<li><a href="#">Giovanili (Coming Soon)</a></li>
		<li><a href="#">Allenamento (Coming Soon)</a></li>
		<li><a href="/schedule">Calendario</a></li>
		<li><a href="/ranking">Classifica</a></li>
		<li><a href="#">Stadio (Coming Soon)</a></li>
		<li><a href="#">Finanze (Coming Soon)</a></li>
	</ul>
	
</div>

</html>