<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <SumoLogicAppender
                name="SumoAppender"
                url="https://endpoint1.collection.eu.sumologic.com/receiver/v1/http/ZaVnC4dhaV1Yo52lT_aCLBwQ1x2k0PUl67fjsS_qhjwAGACSGMaYcvCfhE09jAUWaJeIusDXDEKBB57iJ75unYaYWZjgXRM1kCazhsNcTaBa5hQQ_OGLhQ==">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss,SSS Z} [%t] %-5p %c - %m%n" />
        </SumoLogicAppender>
    </Appenders>
    <Loggers>
        <Root level="all" additivity="false">
            <AppenderRef ref="SumoAppender" />
        </Root>
    </Loggers>
</Configuration>