<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="common/head :: head"></head>

<body>

<div id="wrapper" class="toggled">

    <!-- Sidebar -->
    <div th:replace="common/sidebar :: sidebar"></div>

    <!-- Page Content -->
    <div id="page-content-wrapper">
        <nav th:replace="common/navbar :: navbar"></nav>
        
        <div class="container-fluid">
            <h1>Simple Sidebar</h1>
            <p>This template has a responsive menu toggling system. The menu will appear collapsed on smaller screens, and will appear non-collapsed on larger screens. When toggled using the button below, the menu will appear/disappear. On small screens, the page content will be pushed off canvas.</p>
            <p>Make sure to keep all page content within the <code>#page-content-wrapper</code>.</p>
            <a href="#menu-toggle" class="btn btn-secondary" id="menu-toggle">Toggle Menu</a>
				<table data-toggle="table"
					data-url="/player/">
					<thead>
						<tr>
							<th data-field="role">Role</th>
							<th data-field="name">Name</th>
							<th data-field="surname">Surname</th>
							<th data-field="birth">Birth</th>
							<th data-field="stamina">Stamina</th>
							<th data-field="playmaking">Playmaking</th>
							<th data-field="scoring">Scoring</th>
							<th data-field="winger">Winger</th>
							<th data-field="goalkeeping">Goalkeeping</th>
							<th data-field="passing">Passing</th>
							<th data-field="defending">Defending</th>
							<th data-field="setPieces">Set Pieces</th>
							<th data-field="condition">Condition</th>
						</tr>
					</thead>
				</table>
			</div>
    </div>
    <!-- /#page-content-wrapper -->

</div>
<!-- /#wrapper -->

<div th:replace="common/modal :: modal"></div>

<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/popper/popper.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/bootstrap-table.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.2.2/jquery.form.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0/handlebars.js"></script>
<script src="js/common.js"></script>

<!-- Menu Toggle Script -->
<script>

	
</script>

</body>

</html>