<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="common/head :: head"></head>

<body>

	<div id="wrapper" class="toggled">

		<!-- Sidebar -->
		<div th:replace="common/sidebar :: sidebar"></div>

		<!-- Page Content -->
		<div id="page-content-wrapper">
			<nav th:replace="common/navbar :: navbar"></nav>

			<div class="container-fluid">
				<div class="row">
					<div class="col-sm-6">
						<div class="col-sm-12">
							<div class="card text-white bg-dark mb-3">
								<div class="card-header">Next Round</div>
								<div class="card-body">
									<h4 class="card-title">Coming Soon</h4>
									<p class="card-text">Coming Soon</p>
								</div>
							</div>
						</div>
						<div class="col-sm-12">
							<div class="card text-white bg-dark mb-3">
								<div class="card-header">Risultati</div>
								<div class="card-body">
									<h4 class="card-title">Coming Soon</h4>
									<p class="card-text">Coming Soon</p>
								</div>
							</div>
						</div>
						<div class="col-sm-12">
							<div class="card text-white bg-dark mb-3">
								<div class="card-header">Coming Soon</div>
								<div class="card-body">
									<h4 class="card-title">Coming Soon</h4>
									<p class="card-text">Coming Soon</p>
								</div>
							</div>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="card text-white bg-dark mb-3">
							<div class="card-body">
								<table id="ranking-table" data-toggle="table" data-url="/ranking/" data-toolbar="#toolbar">
									<thead>
										<tr>
											<th data-field="club.name">Club</th>
											<th data-field="played">Played</th>
											<th data-field="points">Points</th>
										</tr>
									</thead>
								</table>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
		<!-- /#page-content-wrapper -->

	</div>
	<!-- /#wrapper -->

	<div th:replace="common/modal :: modal"></div>

	<div th:replace="common/scripts :: scripts"></div>

	<!-- Menu Toggle Script -->
	<script>
		
	</script>

</body>

</html>