<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

  <head>

    <meta charset="utf-8"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"></meta>
    <meta name="description" content=""></meta>
    <meta name="author" content=""></meta>
	<link rel="shortcut icon" type="image/x-icon" href="img/icon/if_footbal_994000.ico" />
    <title>FM - A Football Manager Game</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet"></link>

	<link href="vendor/cookie-alert/css/cookiealert.css" rel="stylesheet"/>
    <!-- Custom styles for this template -->
    <link href="css/full.css" rel="stylesheet"></link>

  </head>

  <body>

	<div class="alert alert-danger alert-dismissible fade show" role="alert">
	  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
	    <span aria-hidden="true">&times;</span>
	  </button>
	  <strong>Attenzione!</strong> Questa &egrave; una versione di test. Le partite saranno cancellate ogni giorno alle 01:00 AM e potrebbero essere cancellate in qualsiasi momento.
	</div>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#">FM - A Football Manager Game</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Content -->

    <div class="container">

      <!-- Page Heading -->
      <!--<h1 class="my-4">Page Heading
        <small>Secondary Text</small>
      </h1>-->

      <div class="row">
        <div class="col-lg-6 portfolio-item">
          <div class="card h-100">
            <div class="card-body">
              <h4 class="card-title">
                <a href="#" data-toggle="modal" data-target="#modalNewGame">Nuova Partita</a>
              </h4>
            </div>
          </div>
        </div>
        <div class="col-lg-6 portfolio-item">
          <div class="card h-100">
            <div class="card-body">
              <h4 class="card-title">
                <a href="#" data-toggle="modal" data-target="#modal-load-game">Carica Partita</a>
              </h4>
            </div>
          </div>
        </div>
        <div class="col-lg-6 portfolio-item">
          <div class="card h-100">
            <div class="card-body">
              <h4 class="card-title">
                <a href="#">Impostazioni (Cooming Soon)</a>
              </h4>
            </div>
          </div>
        </div>
        <div class="col-lg-6 portfolio-item">
          <div class="card h-100">
            <div class="card-body">
              <h4 class="card-title">
                <a href="#">Multiplayer (Cooming Soon)</a>
              </h4>
            </div>
          </div>
        </div>
      </div>
      <!-- /.row -->

    </div>
    <!-- /.container -->

	<!-- COOKIES -->
	<div class="alert alert-dismissible text-center cookiealert" role="alert">
	    <div class="cookiealert-container">
	        <b>Do you like cookies?</b> &#x1F36A; We use cookies to ensure you get the best experience on our website. <a href="http://cookiesandyou.com/" target="_blank">Learn more</a>
	
	        <button type="button" class="btn btn-primary btn-sm acceptcookies" aria-label="Close">
	            I agree
	        </button>
	    </div>
	</div>
	<!-- /COOKIES -->
    
    <!-- <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Your Website 2017</p>
      </div>
    </footer> -->

    <!-- Modal -->
    <div class="modal fade" id="modalNewGame" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            	<form id="new-game-form" action="game/" method="POST">
	                <div class="modal-header">
	                    <h5 class="modal-title">New Game</h5>
	                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	                        <span aria-hidden="true">&times;</span>
	                    </button>
	                </div>
	                <div class="modal-body">
	                        <div class="form-group">
	                            <label for="game-name" class="form-control-label">Nome Partita:</label>
	                            <input type="text" class="form-control" name="gameName" id="game-name"></input>
	                        </div>
	                        <div class="form-group">
	                            <label for="club-name" class="form-control-label">Nome Squadra:</label>
	                            <input type="text" class="form-control" name="clubName" id="club-name"></input>
	                        </div>
	                    
	                </div>
	                <div class="modal-footer">
	                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
	                    <button type="submit" class="btn btn-primary">Save changes</button>
	                </div>
                </form>
            </div>
        </div>
    </div>

	<!-- Modal -->
    <div class="modal fade" id="modal-load-game" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Load Game</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                        <table id="game-table" data-toggle="table" data-url="/game/findAll">
					<thead>
						<tr>
							<th data-field="id">Id</th>
							<th data-field="name">Name</th>
						</tr>
					</thead>
				</table>
                    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/popper/popper.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/bootstrap-table.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.2.2/jquery.form.min.js"></script>
	<script src="vendor/cookie-alert/js/cookiealert-standalone.js"></script>
	<script src="js/ajax-form-utils.js"></script>
	
	<script th:inline="javascript">
		/*<![CDATA[*/
		$('#new-game-form button[type="submit"]').on('click', function() {
			ajaxForm($("#new-game-form"), newGameSuccess);
		});
		
		$('#game-table').bootstrapTable({
			onClickRow: function (row, $element, field) {
				bootbox.confirm("Sei sicuro?", function(){
					$.get("/game/load", { gameId: row.id }, function(data) {
						newGameSuccess();
					}, "json");
				});
		    }
		});
		
		function newGameSuccess(){
			document.location.href = "/home";
		}
		
		/*]]>*/
	</script>
  </body>

</html>
