<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="common/head :: head"></head>


<body>

  <div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <div th:replace="common/sidebar :: sidebar"></div>
    
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
		<div id="page-content-wrapper">
			<nav th:replace="common/navbar :: navbar"></nav>


			<div id="match-template-placeholder" class="container-fluid">
				<script id="match-template" type="text/x-handlebars-template">
					<div class="score_card col-md-8 mx-auto bg-primary">
						<div class="inner_card">
							<div class="left_team">
								<div class="team_container">
									{{home.name}}
									<img src="{{home.logoURL}}"> <span data-id="England">{{homeScore}}</span>
								</div>
							</div>
	
							<p class="vs">VS</p>
	
							<div class="right_team">
								<div class="team_container">
									{{away.name}}
									<img src="{{home.logoURL}}"> <span data-id="The Netherlands">{{awayScore}}</span>
								</div>
							</div>
						</div>
					</div>
	
					<div class="fact_card bg-info">
						{{#each events}}
							<p class="one_event">{{minute}}' - {{event}}</p>
						{{/each}}
					</div>

					<div class="card shadow mb-4">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">Stats</h6>
                </div>
                <div class="card-body">
                  <div class="row">
                	<div class="col-lg-4">
                		<h4 class="small font-weight-bold">{{stats.homeShots}}</h4>
                	</div>
                	<div class="col-lg-4">
                		<h4 class="small font-weight-bold text-center">Shots</h4>
                	</div>
                	<div class="col-lg-4">
                		<h4 class="small font-weight-bold float-right">{{stats.awayShots}}</h4>
                	</div>
                  </div>
                  <div class="progress mb-4 bg-info">
                    <div class="progress-bar" role="progressbar" style="width: {{stats.homeShotsPerc}}%" aria-valuenow="{{stats.homeShotsPerc}}" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  
                  <div class="row">
                	<div class="col-lg-4">
                		<h4 class="small font-weight-bold">{{stats.homeOnTarget}}</h4>
                	</div>
                	<div class="col-lg-4">
                		<h4 class="small font-weight-bold text-center">On Target</h4>
                	</div>
                	<div class="col-lg-4">
                		<h4 class="small font-weight-bold float-right">{{stats.awayOnTarget}}</h4>
                	</div>
                  </div>
                  <div class="progress mb-4 bg-info">
                    <div class="progress-bar" role="progressbar" style="width: {{stats.homeOnTargetPerc}}%" aria-valuenow="{{stats.homeOnTargetPerc}}" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  <div class="row">
                	<div class="col-lg-4">
                		<h4 class="small font-weight-bold">{{stats.homeFouls}}</h4>
                	</div>
                	<div class="col-lg-4">
                		<h4 class="small font-weight-bold text-center">Fouls</h4>
                	</div>
                	<div class="col-lg-4">
                		<h4 class="small font-weight-bold float-right">{{stats.awayFouls}}</h4>
                	</div>
                  </div>
                  <div class="progress mb-4 bg-info">
                    <div class="progress-bar" role="progressbar" style="width: {{stats.homeFoulsPerc}}%" aria-valuenow="{{stats.homeFoulsPerc}}" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  <div class="row">
                	<div class="col-lg-4">
                		<h4 class="small font-weight-bold">{{stats.homeYellowCards}}</h4>
                	</div>
                	<div class="col-lg-4">
                		<h4 class="small font-weight-bold text-center">Yellow Cards</h4>
                	</div>
                	<div class="col-lg-4">
                		<h4 class="small font-weight-bold float-right">{{stats.awayYellowCards}}</h4>
                	</div>
                  </div>
                  <div class="progress mb-4 bg-info">
                    <div class="progress-bar" role="progressbar" style="width: {{stats.homeYellowCardsPerc}}%" aria-valuenow="{{stats.homeYellowCardsPerc}}" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  <div class="row">
                	<div class="col-lg-4">
                		<h4 class="small font-weight-bold">{{stats.homePossession}}%</h4>
                	</div>
                	<div class="col-lg-4">
                		<h4 class="small font-weight-bold text-center">Possession</h4>
                	</div>
                	<div class="col-lg-4">
                		<h4 class="small font-weight-bold float-right">{{stats.awayPossession}}%</h4>
                	</div>
                  </div>
                  <div class="progress bg-info">
                    <div class="progress-bar" role="progressbar" style="width: {{stats.homePossession}}%" aria-valuenow="{{stats.homePossession}}" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
              </div>
				</script>
			</div>
			
			
		</div>
		<!-- /#page-content-wrapper -->

  </div>
  <!-- /#wrapper -->

  <div th:replace="common/scripts :: scripts"></div>

	<script type="text/javascript">
		var url = $(location).attr('href'), parts = url.split("/"), id = parts[parts.length - 1];
		console.log(id);
		$.get("/api/match/" + id, function(data) {
			var source = $("#match-template").html();
			var template = Handlebars.compile(source);
			var html = template(data);
			$("#match-template-placeholder").html(html);
		}, "json");
	</script>
</body>

</html>