<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="common/head :: head"></head>

<body>

<div id="wrapper" class="toggled">

    <!-- Sidebar -->
    <div th:replace="common/sidebar :: sidebar"></div>

    <!-- Page Content -->
    <div id="page-content-wrapper">
        <nav th:replace="common/navbar :: navbar"></nav>
        
        <div class="container-fluid">
            <div id="toolbar">
			</div>
            <table data-toggle="table" data-url="/match/" data-toolbar="#toolbar" data-show-refresh="true" data-group-by="true" data-group-by-field="number">
				<thead>
					<tr>
						<th data-field="home.name">Casa</th>
						<th data-field="away.name">Trasferta</th>
						<th data-field="date">Data</th>
						<th data-field="number" data-visible="false"></th>
						<th data-field="homeScore"></th>
						<th data-field="awayScore"></th>
					</tr>
				</thead>
			</table>
		</div>
    </div>
    <!-- /#page-content-wrapper -->

</div>
<!-- /#wrapper -->

<div th:replace="common/modal :: modal"></div>

<div th:replace="common/scripts :: scripts"></div>

</body>

</html>