<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="common/head :: head"></head>


<body>

  <div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <div th:replace="common/sidebar :: sidebar"></div>
    
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
		<div id="page-content-wrapper">
			<nav th:replace="common/navbar :: navbar"></nav>


			<div class="container-fluid">
				<table data-toggle="table" data-url="/api/player/">
				<thead>
					<tr>
						<th data-field="role">Role</th>
						<th data-field="name">Name</th>
						<th data-field="surname">Surname</th>
						<th data-field="birth">Birth</th>
						<th data-field="stamina">Stamina</th>
						<th data-field="playmaking">Playmaking</th>
						<th data-field="scoring">Scoring</th>
						<th data-field="winger">Winger</th>
						<th data-field="goalkeeping">Goalkeeping</th>
						<th data-field="passing">Passing</th>
						<th data-field="defending">Defending</th>
						<th data-field="setPieces">Set Pieces</th>
						<th data-field="condition">Condition</th>
					</tr>
				</thead>
			</table>
			</div>
		</div>
		<!-- /#page-content-wrapper -->

  </div>
  <!-- /#wrapper -->

  <div th:replace="common/scripts :: scripts"></div>
  
</body>

</html>